.table {
  width: 100%;
  border:none;
  border-collapse: collapse;
  border-radius: 4px;
}

.table th {
  padding: 10px 8px;
  text-align: start;
}

.table th:last-child {
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
}
